src/xml/config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from options.xml by XMLBuddy -->
<!ELEMENT hostPerScan (#PCDATA)>
<!ELEMENT options (scanner,proxyChain,proxy)>
<!ELEMENT proxy (proxyIp,proxyPort,proxySSLIp,proxySSLPort)>
<!ELEMENT connection (proxyChainName,proxyChainPort,proxyChainSkipDomain,proxyChainRealm,proxyChainUserName,proxyChainPassword,proxyNamePrompt)>
<!ELEMENT proxyChainName (#PCDATA)>
<!ELEMENT proxyChainPassword (#PCDATA)>
<!ELEMENT proxyChainPort (#PCDATA)>
<!ELEMENT proxyChainRealm (#PCDATA)>
<!ELEMENT proxyChainSkipDomain (#PCDATA)>
<!ELEMENT proxyChainUserName (#PCDATA)>
<!ELEMENT proxyChainPrompt (#PCDATA)>
<!ELEMENT proxyIp (#PCDATA)>
<!ELEMENT proxyPort (#PCDATA)>
<!ELEMENT proxySSLIp (#PCDATA)>
<!ELEMENT proxySSLPort (#PCDATA)>
<!ELEMENT scanner (hostPerScan,threadPerHost)>
<!ELEMENT threadPerHost (#PCDATA)>
